<div class="paragraph-flexbox">
    <div class="user-profile-main-heading enterprise-plan-heading">
        Enterprise plan
    </div>
    <div class="validation-date">
        Valid till : <b> 11 October 2023 </b>
    </div>
</div>
<div class="plan-details-contianer">
    <div class="margin-bottom">
        <div class="size-24px-headings">Plan details</div>
        <div class="size-18px-lines">
            2 users, 20 employees, 2 locations <br>
            at $104.00 / month
        </div>
    </div>
    <div class="plans-date-and-type ">
        <div>
            <div class="size-24px-headings">Purchase details</div>
            <div class="size-18px-lines">
                Date of purchase : <br>
                Billing Type :
            </div>
        </div>
        <div class="size-18px-lines margin-top">
            11 October 2022 <br>
            Monthly subscription, <br> billed annually
        </div>
    </div>
</div>
