<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <div class="pass-change-fields">
    <div class="user-profile-main-heading" style="margin-bottom: 44px;">
      Change password
    </div>
    <div class="row mb-4 align-items-center">
      <div class="col-md-5 col-12 pass-fields-lebal">Enter current password :</div>
      <div class="col-md-7 col-12">
        <input formControlName="currentPassword" type="password" placeholder="type in your password"
          class="ch-nge-pass-input" [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" />

        <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
          <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
          <div *ngIf="f.currentPassword.errors.pattern">Current Password must be valid</div>
        </div>
      </div>
    </div>
    <div class="row mb-4 align-items-center">
      <div class="col-md-5 col-12 pass-fields-lebal">Enter new password :</div>
      <div class="col-md-7 col-12">
        <input formControlName="newPassword" type="password" placeholder="type in your password"
          class="ch-nge-pass-input" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />

        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword.errors.required">New Password is required</div>
          <div *ngIf="f.newPassword.errors.pattern">New Password must be valid</div>
        </div>
        <br>
        <div class="small-line">Use an uppercase character, number and special character.</div>
      </div>
    </div>
    <div class="row mb-4 align-items-center">
      <div class="col-md-5 col-12 pass-fields-lebal">Re-enter password :</div>
      <div class="col-md-7 col-12">
        <input formControlName="confirmPassword" type="password" placeholder="" class="ch-nge-pass-input"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />

        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.confirmPassword.errors.pattern">Confirm Password must be valid</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Password must be match</div>
        </div>
      </div>
    </div>
    <div class="btnnnnnn">
      <button type="submit" class="resett-pass">Change password</button>
    </div>
  </div>
</form>
