<div class="bg-body-container">
  <div class="brainy-nav-bar">
    <img src="assets/images/Brainyclock logo.png" alt="">
  </div>
  <div class="  main-reset-container ">
    <div class="left-column-password">
      <p class="reset-pass-heading mb-5">Reset your password</p>

      <p class="surety-heading">Make sure you use :</p>

      <div class="password-set-rules">
        <p>✓ &#160;&#160;&#160;&#160;&#160; an upper case letter </p>
        <p>✓ &#160;&#160;&#160;&#160;&#160; a lower case lette</p>
        <p>✓ &#160;&#160;&#160;&#160;&#160; a number and a special character.</p>
      </div>
      <div class="pass-feilds ">
        <form [formGroup]="restPasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-4">
            <input formControlName="email" type="text" placeholder="Enter your email" class=""
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be valid</div>
            </div>
          </div>
          <div class="mb-4">
            <input formControlName="confirmationCode" type="text" placeholder="Enter code" class=""
              [ngClass]="{ 'is-invalid': submitted && f.confirmationCode.errors }" />
            <div *ngIf="submitted && f.confirmationCode.errors" class="invalid-feedback">
              <div *ngIf="f.confirmationCode.errors.required">Confirmation Code is required</div>
            </div>
          </div>
          <div class="mb-4">
            <input formControlName="password" type="password" placeholder="Enter new password" class="enter-pass"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.pattern">Password must be valid</div>
            </div>
          </div>
          <div class="mb-5">
            <input formControlName="confirmPassword" type="password" placeholder="Re-enter password"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="f.confirmPassword.errors.pattern">Confirm Password must be valid</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Password must be match</div>
            </div>
          </div>
          <div (click)="onSubmit()" type="submit" class="sub-btn mb-3">
            Reset Password
          </div>
        </form>

      </div>

    </div>
    <div class="right-column-background">
      <img src="assets/images/lock.png" alt="">
    </div>

  </div>
