<div class="payment-detail-container">
    <div class="user-profile-main-heading payment-detailss">Payment details</div>
    <div class="credit-debits">Saved cards <span> and debit cards</span></div>
    <div class="visa-container-flex"><img src="assets/images/visa.png" alt="">
      <div> Visa ending in 2635 </div> <img src="assets/images/down-arrow.png" alt="" class="down-arrow-img">
    </div>
    <div class="playpal-id-container">
      <div class="paypal-id-text">
        Paypal ID
      </div>
      <div class="direction-inverse">
        <input type="text" placeholder="samantha72@outlook.com">
        <div class="edit-box"><img src="assets/images/Edit.png" alt="">
          &#160;&#160; Edit
        </div>
      </div>
    </div>
  </div>
