<div [ngClass]="{'sign-up-translate-0': isShow}" class="sign-up" id="sign-up">
  <div class="">
    <button (click)="Close()" class="page-remover border-0 bg-white p-1 back-btn">
      <img src="assets/images/cross.png" alt="" class="cross-img w-100">
      <img src="assets/images/back.png" alt="" class="back-img w-100">
    </button>

    <div class="row">
      <div class="col-lg-5 col-12">
        <div class="h-100 secure" style="padding-left: 40px;">
          <div class="row h-100 align-items-center">
            <div class="col">
              <h2 class="secure">
                Secure. <br>
                Contactless. <br>
                Accurate. <br>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="sign-up-container">
          <h2 class="sign-up-header">
            Create your account
          </h2>

          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="input-div">
              <label for="">First name</label>
              <input formControlName="firstName" class="w-100" type="text" placeholder="John"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="input-div">
              <label for="">Last name</label>
              <input formControlName="lastName" class="w-100" type="text" placeholder="Galt"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
            <div class="input-div">
              <label for="">E-mail</label>
              <input formControlName="email" class="w-100" type="email"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be valid</div>
              </div>
            </div>
            <div class="input-div">
              <label for="">Password</label>
              <input formControlName="password" class="w-100 mb-1" type="password" placeholder="Minimum 8 characters"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.pattern">Password must be valid</div>
              </div>
              <p class="pass-disc">
                Use an uppercase character, number and special character.
              </p>
            </div>
            <div class="input-div mb">
              <label for="">Re-enter password</label>
              <input formControlName="confirmPassword" class="w-100" type="password" placeholder="Minimum 8 characters"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.pattern">Confirm Password must be valid</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Password must be match</div>
              </div>
            </div>
            <p class="text-center">
              <button type="submit" class="sign-up-btn">
                Sign me up
              </button>
            </p>
          </form>
        </div>
      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>
</div>
