<div [ngClass]="{'forgot-password-translate-0': isShow}" class="forgot-password" id="forgot-password">
  <div class="forgot-password-container">

      <button (click)="Close()" class="page-remover border-0 p-1 back-btn" style="background-color: #210E78;">
          <img src="assets/images/cross.png" alt="" class="cross-img w-100">
          <!-- <img src="assets/images/back.png" alt="" class="back-img w-100"> -->
      </button>

      <div class="forgot-password-content">
          <div class="row">
              <div class="col-md-6 pb-5">
                  <div class="forgot-heading text-start mt-5" >
                      You forgot your <br> password? <br>
                      I’d be glad to <br> retrieve it.
                  </div>
                  <div class="small-heading text-start mt-4 pb-2">
                      Please enter your mail ID to <br> recieve a password reset link.
                  </div>
                  <div class="email-box mt-5 mb-5">
                      <input type="email" placeholder="Enter your e-mail ID" class="w-100">
                  </div>
                  <div class="btn-container mb-3">
                      <div (click)="Submit()" class="btnnn mb-3" style="cursor: pointer;" id="reset-linkk-toggle">
                          Submit
                      </div>
                      <div (click)="Close()" class="cancel-btn">
                          <span class="page-remover">
                              Cancel
                          </span>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 dog-img ">
                  <div class="bg-dog" >
                  </div>
                  <img src="assets/images/dog.png" alt="DOGGY" class="w-100" class="DOGGY">
              </div>
          </div>
      </div>
  </div>
</div>

<app-resetpasswordlink (editedEmitter)="updateValueFromRestPasswordLink($event)" [isShow]="isShowRestPasswordLink"></app-resetpasswordlink>
