<div class="inner-container">

  <!--Login Page-->
  <!--Login Page-->


  <div class="login" id="login">
      <div class="position-relative">
          <button class="page-remover border-0 bg-white p-1 back-btn">
              <img src="assets/images/cross.png" alt="" class="cross-img w-100">
              <img src="assets/images/back.png" alt="" class="back-img w-100">
          </button>
          <div class="login-container">
              <h2 class="login-header">
                  Log in to your account.
              </h2>

              <img src="assets/images/google.png" alt="Conitnue with google" class="w-100">
              <div class="option d-flex justify-content-between align-items-center">
                  <div class="w-25">
                      <img src="assets/images/line.png" alt="" class="w-100">
                  </div>
                  <p class="text-center mb-0 w-75">
                      Or log in with you email-ID
                  </p>
                  <div class="w-25">
                      <img src="assets/images/line.png" alt="" class="w-100">
                  </div>
              </div>

              <form action="">
                  <div class="input-div">
                      <label for="">Email</label>
                      <input class="w-100" type="email" placeholder="Email enter your email-ID">
                  </div>
                  <div class="input-div">
                      <label for="">Password</label>
                      <input class="w-100" type="password" placeholder="Email enter your email-ID">
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="remember d-flex align-items-center gap-1">
                          <div class="on-off-btn-box">
                              <div class="on-off-btn dot"  id="dot">
                                  <div class="on-off-dot toggle-btnn" id="toggle-btnn">&nbsp</div>
                              </div>
                          </div>
                          <div>
                              Remember me
                          </div>
                      </div>
                      <div class="forgot forgot-password-toggle">
                          Forgot password?
                      </div>
                  </div>
                  <button class="login-btn">
                      Log in
                  </button>

                  <div class="d-flex justify-content-around mt-3">
                      <p class="register">Not registered yet?<p>
                      <p class="sign-upp sign-up-toggle" style="cursor: pointer;">Sign up here</p>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <!--Login Page Ends-->
  <!--Login Page Ends-->


  <!--Signup Page starts-->
  <!--Signup Page starts-->


  <div class="sign-up" id="sign-up">
      <div class="">
          <button class="page-remover border-0 bg-white p-1 back-btn">
              <img src="assets/images/cross.png" alt="" class="cross-img w-100">
              <img src="assets/images/back.png" alt="" class="back-img w-100">
          </button>

          <div class="row">
              <div class="col-lg-5 col-12">
                  <div class="h-100 secure" style="padding-left: 40px;">
                      <div class="row h-100 align-items-center">
                          <div class="col">
                              <h2 class="secure">
                                  Secure. <br>
                                  Contactless. <br>
                                  Accurate. <br>
                              </h2>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-12">
                  <div class="sign-up-container">
                      <h2 class="sign-up-header">
                          Create your account
                      </h2>

                      <form action="">
                          <div class="input-div">
                              <label for="">First name</label>
                              <input class="w-100" type="text" placeholder="John">
                          </div>
                          <div class="input-div">
                              <label for="">Last name</label>
                              <input class="w-100" type="text" placeholder="Galt">
                          </div>
                          <div class="input-div">
                              <label for="">E-mail</label>
                              <input class="w-100" type="email">
                          </div>
                          <div class="input-div">
                              <label for="">Password</label>
                              <input class="w-100 mb-1" type="password" placeholder="Minimum 8 characters">
                              <p class="pass-disc">
                                  Use an uppercase character,  number and special character.
                              </p>
                          </div>
                          <div class="input-div mb">
                              <label for="">Re-enter password</label>
                              <input class="w-100" type="password" placeholder="Minimum 8 characters">

                          </div>

                          <p class="text-center">
                              <button class="sign-up-btn">
                                  Sign me up
                              </button>
                          </p>
                      </form>
                  </div>
              </div>
              <div class="col-md-1">

              </div>
          </div>



      </div>
  </div>

  <!--Signup Page Ends-->
  <!--Signup Page Ends-->

  <!--Contact-us Page starts-->
  <!--Contact-us Page starts-->

  <!-- <div class="contact-us" id="contact-us">
      <div class="container">
          <button class="page-remover border-0 bgc-purp p-1 back-btn">
              <img src="assets/images/cross.png" alt="" class="cross-img w-100">
              <img src="assets/images/back.png" alt="" class="back-img w-100">
          </button>



          <div class="row">
              <div class="col-md-1">

              </div>
              <div class="col-md-10">
                  <p class="contact-us-header">
                      We’d love to hear <br> from you.
                  </p>
              </div>
          </div>
          <div class="row col-rev">
              <div class="col-md-6">
                  <div class="contact-info">
                      <div class="row">
                          <div class="col-md-2 col-sm-2 col-2">
                              <img src="assets/images/mail.png" alt="" width="20px" height="16px">
                          </div>
                          <div class="col-md-10 col-sm-10 col-10">
                              info@brainyclock.com
                          </div>
                      </div>
                      <div class="row mt-5">
                          <div class="col-md-2 col-sm-2 col-2">
                              <img src="assets/images/Vector.png" alt="" width="16px" height="20px">
                          </div>
                          <div class="col-md-10 col-sm-10 col-10">
                              251 East 32nd Street <br>
                              7C <br>
                              NYC, NY 10016 <br>
                              United States
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div>
                      <form action="" class="contact-form">
                          <input type="text" placeholder="Your name">
                          <input type="text" placeholder="Email address">
                          <input type="text" placeholder="Organization">
                          <textarea name="" id="" cols="30" rows="10"></textarea>
                          <p class="contact-send-btn">
                              <button class="btnn">Send</button>
                          </p>
                      </form>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-1">

              </div>
              <div class="col-md-10">

              </div>
          </div>
      </div>
  </div> -->

  <!--Contact-us Page Ends-->
  <!--Contact-us Page Ends-->




  <!--Forgot Page starts-->
  <!--Forgot Page starts-->

  <div class="forgot-password" id="forgot-password">
      <div class="forgot-password-container">

          <button class="page-remover border-0 p-1 back-btn" style="background-color: #210E78;">
              <img src="assets/images/cross.png" alt="" class="cross-img w-100">
              <!-- <img src="assets/images/back.png" alt="" class="back-img w-100"> -->
          </button>

          <div class="forgot-password-content">
              <div class="row">
                  <div class="col-md-6 pb-5">
                      <div class="forgot-heading text-start mt-5" >
                          You forgot your <br> password? <br>
                          I’d be glad to <br> retrieve it.
                      </div>
                      <div class="small-heading text-start mt-4 pb-2">
                          Please enter your mail ID to <br> recieve a password reset link.
                      </div>
                      <div class="email-box mt-5 mb-5">
                          <input type="email" placeholder="Enter your e-mail ID" class="w-100">
                      </div>
                      <div class="btn-container mb-3">
                          <div class="btnnn mb-3" style="cursor: pointer;" id="reset-linkk-toggle">
                              Submit
                          </div>
                          <div class="cancel-btn">
                              <span class="page-remover">
                                  Cancel
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 dog-img ">
                      <div class="bg-dog" >
                      </div>
                      <img src="assets/images/dog.png" alt="DOGGY" class="w-100" class="DOGGY">
                  </div>
              </div>
          </div>
      </div>
  </div>



  <!-- reset link page starts -->
  <!-- reset link page starts -->

  <div class="reset-linkk" id="reset-linkk">
      <div class="bg-color pt-3">
          <div class="cross" >
              <img src="assets/images/cross.png" alt="" class="page-remover">
          </div>
          <div class="container">
              <div class="reset-link-content">
                  <p class="mt-5 mb-5 rese-link-heading">Password reset <br class="on-pc"> <br class="on-mbl"> link has been <br class="on-mbl"> sent <br class="on-pc"> to your <br class="on-mbl"> email.</p>
              <p class="reset-time mb-5">You can use the link to <br class="on-mbl"> change <br class="on-pc"> your password, within <br class="on-mbl"> the next <br class="on-pc"> 24 hours.</p>
              <a href="">
                  <div class="home-btn">
                      Back to home
                  </div>
              </a>
              </div>
          </div>
      </div>
  </div>

  <!-- reset link page ends -->
  <!-- reset link page ends -->



  <section class="sec-1">
      <div class="" style="margin-left: 15%;">
          <div class="col-md-10 col-sm-12 col-12">
              <p class="main-header">
                  your face will <br>
                  let you in to places
              </p>
              <div class="row mb-lg-3">
                  <div class="col-lg-5 col-md-6 col-12">
                      <div class="py-5">
                          <p class="para">
                              Facial recognition based attendance system for your workforce.
                          </p>
                      </div>
                  </div>
                  <div class="col-lg-2">

                  </div>
                  <div class="col-lg-4 col-md-6 col-12">
                      <div class="bgi-1 py-5">
                          <p class="para disappear">
                              Know more about our AI powered digital gatekeeper.
                          </p>
                      </div>
                  </div>
              </div>
              <p class="text-center learn">
                  <button class="btnn app-btn">Learn more</button>
              </p>
          </div>
      </div>
  </section>


  <section class="sec-2">
      <div class="container-fluid bg-2">
          <div class="row col-rev">
              <div class="col-lg-7 col-12 pl-100 pt-150">
                  <h2 class="headerr">
                      Fast, accurate, error-free <br>
                      facial recognition and <br> attendance.
                  </h2>
                  <div>
                      <p class="para para-float">
                          It takes a mere <span>5 seconds</span> to identify you and clock you in to your shift.
                      </p>
                  </div>
              </div>
              <div class="col-lg-5 col-12">
                  <div class="avatar">
                      <img src="assets/images/avatar.png" alt="" class="w-100 mt--55 ml--50">
                  </div>
                  <p class="s-para">
                      Pair your phone with the with the location device, clock in, and begin your day.
                  </p>
              </div>
          </div>
      </div>
  </section>

  <section class="sec-3">
      <div>
          <div class="row m-0 col-rev">
              <div class="col-lg-2">

              </div>
              <div class="col-lg-5 col-12 p-0">
                  <div class="bg-4 pt-250">
                      <p class="headerr">
                          Real-time updates to the managers.
                      </p>
                      <p class="para mt-115">
                          Stay informed about the <br> personnel and their arrivals <br> on your locations.
                      </p>
                  </div>
              </div>
              <div class="col-lg-5 col-12 mx-0 p-0 z-index-5">
                  <div class="bg-3 pt-5">
                      <img src="assets/images/location.png" alt="" class="w-100 ml--30">
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="sec-4">
      <div class="container-fluid">
          <div class="row justify-content-between">
              <div class="col-lg-6 col-12 pt-4 px-0">
                  <div class=" bg-5 pt-5">
                      <img src="assets/images/varification.png" alt="" class="w-100" style="margin-left: 100px;">
                  </div>
              </div>
              <div class="col-lg-5 col-12 px-0">
                  <div class="bg-6 pt-170 h-100">
                      <h2 class="headerr">
                          Ensure authentic <br> and verified <br> attendance.
                      </h2>
                      <p class="col-lg-6 col-12 para mt-130">
                          Validate clock-in and attendance by means of simple selfies, and reduce the risk of proxy clock-ins.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="sec-5">
      <div class="plan mx-100">
          <div class="row">
              <div class="col-lg-8 col-12">
                  <h2 class="headerr">
                      Find the right plan for your <br> company
                  </h2>
              </div>
              <div class="col-lg-4 col-12">
                  <p class="para">
                  Move away from access cards and fingerprint scanners, and towards our AI powered access system.
                  </p>
              </div>
          </div>

          <div class="slider">
              <div class="row">
                  <div class="col-lg-4 col-12">
                      <div class="cardd">
                          <p class="headerr fw-400">
                              Base
                          </p>
                          <p class="para fw-400">
                              2 user <br> 20 employees <br> 3 location <br>
                          </p>
                          <p class="para fw-400 para-large">
                              $119.99 / month
                          </p>
                          <p class="text-center">
                              <button class="btnn">Buy now</button>
                          </p>
                          <div>
                              <p class="trail">Try free for month &nbsp ></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-12">
                      <div class="cardd">
                          <p class="headerr fw-400">
                              Startup
                          </p>
                          <p class="para fw-400">
                              2 user <br> 20 employees <br> 3 location <br>
                          </p>
                          <p class="para fw-400 para-large">
                          $119.99 / month
                          </p>
                          <p class="text-center">
                              <button class="btnn">Buy now</button>
                          </p>
                          <div>
                              <p class="trail">Try free for month &nbsp ></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-12">
                      <div class="cardd">
                          <p class="headerr fw-400">
                              Enterprise
                          </p>
                          <p class="para fw-400">
                              2 user <br> 20 employees <br> 3 location <br>
                          </p>
                          <p class="para fw-400 para-large">
                              $119.99 / month
                              </p>
                          <p class="text-center">
                              <button class="btnn">Buy now</button>
                          </p>
                          <div>
                              <p class="trail">Try free for month &nbsp ></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="carousell">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="col-lg-12 col-12">
                          <div class="cardd">
                              <p class="headerr">
                                  Base
                              </p>
                              <p class="para">
                                  2 user <br> 20 employees <br> 3 location <br><br> $119.99 / month
                              </p>
                              <p class="text-center">
                                  <button class="btnn">Buy now</button>
                                  <p class="trail">Try free for month &nbsp ></p>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="col-lg-12 col-12">
                          <div class="cardd">
                              <p class="headerr">
                                  Startup
                              </p>
                              <p class="para">
                                  2 user <br> 20 employees <br> 3 location <br><br> $119.99 / month
                              </p>
                              <p class="text-center">
                                  <button class="btnn">Buy now</button>
                                  <p class="trail">Try free for month &nbsp ></p>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="col-lg-12 col-12">
                          <div class="cardd">
                              <p class="headerr">
                                  Enterprise
                              </p>
                              <p class="para">
                                  2 user <br> 20 employees <br> 3 location <br><br> $119.99 / month
                              </p>
                              <p class="text-center">
                                  <button class="btnn">Buy now</button>
                                  <p class="trail">Try free for month &nbsp ></p>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
