<div class="mycontainer">
  <div class="inner-container">
    <div class="home-container">
      <section class="sec-1">
        <div class="" style="margin-left: 15%;">
          <div class="col-md-10 col-sm-12 col-12">
            <p class="main-header">
              your face will <br>
              let you in to places
            </p>
            <div class="row mb-lg-3">
              <div class="col-lg-5 col-md-6 col-12">
                <div class="py-5">
                  <p class="para">
                    Facial recognition based attendance system for your workforce.
                  </p>
                </div>
              </div>
              <div class="col-lg-2">

              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="bgi-1 py-5">
                  <p class="para disappear">
                    Know more about our AI powered digital gatekeeper.
                  </p>
                </div>
              </div>
            </div>
            <p class="text-center learn">
              <button class="btnn app-btn">Learn more</button>
            </p>
          </div>
        </div>
      </section>


      <section class="sec-2">
        <div class="container-fluid bg-2">
          <div class="row col-rev pb-5">
            <div class="col-lg-7 col-12 pl-100 pt-150">
              <h2 class="headerr">
                Fast, accurate, error-free <br>
                facial recognition and <br> attendance.
              </h2>
              <div>
                <p class="para para-float">
                  It takes a mere <span>5 seconds</span> to identify you and clock you in to your shift.
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-12">
              <div class="avatar">
                <img src="assets/images/avatar.png" alt="" class="w-100 mt--55 ml--50">
              </div>
              <p class="s-para">
                Pair your phone with the with the location device, clock in, and begin your day.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-3">
        <div>
          <div class="row m-0 col-rev">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-5 col-12 p-0">
              <div class="bg-4 pt-250">
                <p class="headerr">
                  Real-time updates to the managers.
                </p>
                <p class="para mt-115">
                  Stay informed about the <br> personnel and their arrivals <br> on your locations.
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-12 mx-0 p-0 z-index-5">
              <div class="bg-3 pt-5">
                <img src="assets/images/location.png" alt="" class="w-100 ml--30">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-4">
        <div class="container-fluid">
          <div class="row justify-content-between">
            <div class="col-lg-6 col-12 pt-4 px-0">
              <div class=" bg-5 pt-5">
                <img src="assets/images/varification.png" alt="" class="w-100" style="margin-left: 100px;">
              </div>
            </div>
            <div class="col-lg-5 col-12 px-0">
              <div class="bg-6 pt-170 h-100">
                <h2 class="headerr">
                  Ensure authentic <br> and verified <br> attendance.
                </h2>
                <p class="col-lg-6 col-12 para mt-130">
                  Validate clock-in and attendance by means of simple selfies, and reduce the risk of proxy clock-ins.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="sec-5">
        <div class="plan mx-100">
          <div class="row">
            <div class="col-lg-8 col-12">
              <h2 class="headerr">
                Find the right plan for your <br> company
              </h2>
            </div>
            <div class="col-lg-4 col-12">
              <p class="para">
                Move away from access cards and fingerprint scanners, and towards our AI powered access system.
              </p>
            </div>
          </div>

          <div class="slider">
            <div class="row">
              <div class="col-lg-4 col-12">
                <div class="cardd">
                  <p class="headerr fw-400">
                    Base
                  </p>
                  <p class="para fw-400">
                    {{packageService.get(packageType.Base).users}} user <br>
                    {{packageService.get(packageType.Base).employees}} employees <br>
                    {{packageService.get(packageType.Base).location}} location <br>
                  </p>
                  <p class="para fw-400 para-large">
                    ${{packageService.get(packageType.Base).price}} / month
                  </p>
                  <p class="text-center">
                    <button (click)="checkout(packageType.Base,false)" class="btnn">Buy now</button>
                  </p>
                  <div>
                    <p (click)="checkout(packageType.Base,true)" class="trail">Try free for month &#160; ></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <div class="cardd">
                  <p class="headerr fw-400">
                    Startup
                  </p>
                  <p class="para fw-400">
                    {{packageService.get(packageType.Startup).users}} user <br>
                    {{packageService.get(packageType.Startup).employees}} employees <br>
                    {{packageService.get(packageType.Startup).location}} location <br>
                  </p>
                  <p class="para fw-400 para-large">
                    ${{packageService.get(packageType.Startup).price}} / month
                  </p>
                  <p class="text-center">
                    <button (click)="checkout(packageType.Startup,false)" class="btnn">Buy now</button>
                  </p>
                  <div>
                    <p (click)="checkout(packageType.Startup,true)" class="trail">Try free for month &#160; ></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <div class="cardd">
                  <p class="headerr fw-400">
                    Enterprise
                  </p>
                  <p class="para fw-400">
                    {{packageService.get(packageType.Enterprise).users}} user <br>
                    {{packageService.get(packageType.Enterprise).employees}} employees <br>
                    {{packageService.get(packageType.Enterprise).location}} location <br>
                  </p>
                  <p class="para fw-400 para-large">
                    ${{packageService.get(packageType.Enterprise).price}} / month
                  </p>
                  <p class="text-center">
                    <button (click)="checkout(packageType.Enterprise,false)" class="btnn">Buy now</button>
                  </p>
                  <div>
                    <p (click)="checkout(packageType.Enterprise,true)" class="trail">Try free for month &#160; ></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousell">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="col-lg-12 col-12">
                    <div class="cardd">
                      <p class="headerr">
                        Base
                      </p>
                      <p class="para">
                        {{packageService.get(packageType.Base).users}} user <br>
                        {{packageService.get(packageType.Base).employees}} employees <br>
                        {{packageService.get(packageType.Base).location}} location <br>
                        ${{packageService.get(packageType.Base).price}} / month
                      </p>
                      <p class="text-center">
                        <button (click)="checkout(packageType.Base,false)" class="btnn">Buy now</button>
                      <p (click)="checkout(packageType.Base,true)" class="trail">Try free for month &#160; ></p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-lg-12 col-12">
                    <div class="cardd">
                      <p class="headerr">
                        Startup
                      </p>
                      <p class="para">
                        {{packageService.get(packageType.Startup).users}} user <br>
                        {{packageService.get(packageType.Startup).employees}} employees <br>
                        {{packageService.get(packageType.Startup).location}} location <br>
                        ${{packageService.get(packageType.Startup).price}} / month
                      </p>
                      <p class="text-center">
                        <button (click)="checkout(packageType.Startup,false)" class="btnn">Buy now</button>
                      <p (click)="checkout(packageType.Startup,true)" class="trail">Try free for month &#160; ></p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-lg-12 col-12">
                    <div class="cardd">
                      <p class="headerr">
                        Enterprise
                      </p>
                      <p class="para">
                        {{packageService.get(packageType.Enterprise).users}} user <br>
                        {{packageService.get(packageType.Enterprise).employees}} employees <br>
                        {{packageService.get(packageType.Enterprise).location}} location <br>
                        ${{packageService.get(packageType.Enterprise).price}} / month
                      </p>
                      <p class="text-center">
                        <button (click)="checkout(packageType.Enterprise,false)" class="btnn">Buy now</button>
                      <p (click)="checkout(packageType.Enterprise,true)" class="trail">Try free for month &#160; ></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
